<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" ng-repeat="service in serviceList | orderBy:sortField:sortDescending">
    <div class="thumbnail">
        <div class="caption">
            <h4>
                <in-place-edit field-name='serviceName' input-type='text' input-class='input-medium' model=service>{{service.serviceName}}</in-place-edit>
            </h4>

            <h4>
                <in-place-edit field-name='category' input-type='text' input-class='input-medium' model=service>{{service.category}}</in-place-edit>
            </h4>

            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li role="presentation"><a ng-click="updateService(service)">edit</a></li>
                    <li role="presentation"><a ng-click="deleteService(service)">delete</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
