<div class="col-xs-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>AWS Service</th>
            <th>Category</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="service in serviceList | orderBy:sortField:sortDescending">
            <td>
                <in-place-edit field-name='serviceName' input-type='text' input-class='input-large' model=service>{{service.serviceName}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='category' input-type='artist' input-class='input-large' model=service>{{service.category}}</in-place-edit>
            </td>
            <td class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li role="presentation"><a ng-click="updateService(service)">edit</a></li>
                    <li role="presentation"><a ng-click="deleteService(service)">delete</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
